// !Названия переменных в файлах стилей пишуться в kebab-case нотации!
// Вынести в _variables.scss
$mainCollor:rgb(2, 128, 128);
// Вместо этого коммента нужен просто перенос строки.
// Такие разделители пишутся, когда файл большой, плюс к тому добавляется тексовой коментарий, который описывает к какому модули эти стили
//-------------------------------------------------------------------------//
*{
    // Есои есть normalize, то эти стили не нужны. К тому же, получается так, что этот файл обязательно должен первый подключаться,
    // в противном случае эти стили могут примениться к другим элементам, что сыграет роль в самый неожиданный момент
    margin: 0;
    padding: 0;
    // Значение стиля неправильное
    border-style: border-box;
}

.page{
    // У тебя есть _variables.scss в котором один цвет. Почему бы не вынести все, более-менее общие цвета туда?
    // Мне кажется фон сайта подходит для этого очень хорошо.
    // Аналогично и для других цветов. Подумай, какие из них можно вынести в переменные
    background-color: rgb(52, 53, 53);
    font-family: 'IM Fell English SC', serif;
}
// должен быть пробел после названия класса
.container{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
// лишнее
//-------------------------------------------------------------------------//
.line{
    margin: 5px 0;
    // Если ты захочешь поменять ширину контейнера, то тебе придется и тут менять это. И хорошо если у тебя получится быстро найти это.
    // Используй box-sizing +  width = 100%
    width: 996px;
    border: 2px solid rgb(0, 0, 0);
}
