.page {
    font-family: "Roboto", sans-serif;
    background: url("https://static-dm.akamaized.net/legion/prod/9b06ac9234ec6039759f252d93b3778d.png"), $bg-color;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.line {
    margin: 5px;
    box-sizing: border-box;
    max-width: 100%;
    border: 2px solid $main-color;
}

