$mainCollor:rgb(2, 128, 128);
//-------------------------------------------------------------------------//
*{
    margin: 0;
    padding: 0;
    border-style: border-box;
}

.page{
    background-color: rgb(52, 53, 53);
    font-family: 'IM Fell English SC', serif;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
//-------------------------------------------------------------------------//
.line{
    margin: 5px 0;
    width: 996px;
    border: 2px solid rgb(0, 0, 0);
}
