// Лишнее
//-------------------------------------------------------------------------//
// Форматирование плохое.
// 1.Пробел после названия классов всегда.
.createNewPost{
    display: flex;
    flex-direction: column;
    // 2. Перенос строки перед новым классов всегда
    &__inputPost{
         margin: 0;
    }
    // 3. Не надо так. Если у тебя поменяется размер контейнера, то тебе придется по всему проекту бегать и менять похожие места
    // Как вариант можно было сделать. width: N%;
    // Но я честно говоря не понимаю зачем такое огромный инпут, тут проблема с макетом сайта, советую пересмотреть его.
    &__list-inputs{
        width: 986px;
    }
    &__input{
         @extend %myInput;
         margin: 5px 0;
    }
    // форматирование
    &__btn{
    @extend %myBtn;
    }
// Пробел убрать
 }
