.header {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $header-bg-color;
    border-bottom: #000000 3px solid;

    &__logo {
        color: $header-logo-color;
        font-weight: 700;
        font-size: 2em;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
        transition: $transition-duration;
        &:hover {
            background: $header-bg-link-color;
            color: $header-logo-hover-color;
            box-shadow: 0 0 10px $main-color, 0 0 40px $main-color;
            transition: $transition-duration;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    &__link {
        text-align: center;
        text-decoration: none;
        padding: 5px 10px;
        margin: 0 15px;
        color: $header-link-color;
        transition: $transition-duration;
        text-transform: uppercase;
        border-radius: 15px;

        &:hover {
            background: $header-bg-link-color;
            color: $header-link-hover-color;
            box-shadow: 0 0 10px $main-color, 0 0 40px $main-color;
            transition: $transition-duration;
        }
    }
}
