.header {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(39,39,39);
    border-bottom: rgb(0, 0, 0) 3px solid;
// Лишняя строка
    
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    // отсутствует перенос строки
    &__item {
        margin-left: 40px;
    }
    &__link {
        text-align: center;
        text-decoration: none;
        padding: 5px 15px;
        // вынести цвет в переменную
        color: #fff;
        // можно вынести в переменную. Представь, захотел ты, чтобы у тебя transition был везде не 0.5, а 1,
        // если проект очень мелкий, то это не проблема везде поменять. В реальности такого не будет, и ты потратишь много
        // времени на это, и со 100% вероятностью, ты что-то забудешь/не найдешь и не поменяешь. Вынеси это в переменную
        // --button-transition-duration или типо того.
        transition: 0.5s;
        text-transform: uppercase;

        &:hover {
            background: #fff;
            color: #2b1055;
            border-radius: 15px;
            box-shadow: 0 0 10px teal, 0 0 40px teal;
            transition: 0.5s;
        }
        &:active{
            color: teal;
        }
    }
}
