// ЛИШНЕЕ
//-------------------------------------------------------------------------//
// Честно говоря не понимаю, зачем это реализовано так, если можно было сделать это обычным классом, но да ладно
// Название ужасное. Не надо НИКОГДА писать классы типа "my-button". Название класса должно описывать то, чем является этот блок.
// АНАЛОГИЧНО ДЛЯ ВСЕГО ФАЙЛА
%myBtn{
    padding: 5px 15px;   
    color: $mainCollor;
    // Неправильное значение стиля
    font-style: 14px;
    border: 1px solid $mainCollor;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    &:hover {
        background: #fff;
        box-shadow: 0 0 10px $mainCollor, 0 0 40px $mainCollor,0 0 60px $mainCollor;
        transition: .5s;
    }
}
//-------------------------------------------------------------------------//
%myInput{
    width: 100%;
    padding: 5px;
    color: rgb(13, 79, 29);
    transition: .5s;
    border-radius: 10px;
    &:focus{  
        box-shadow: 0 0 10px $mainCollor, 0 0 40px $mainCollor;
        transition: .5s;
    }
}
//-------------------------------------------------------------------------//
%mySelect{
    margin: 5px 0;
    border-radius: 5px;
}
