.pagination {
    font-size: 21px;
    display: flex;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__btn {
        @extend %btn;
        margin: 5px;
    }
}
