.post {
    &__list-btn {
        display: flex;
        align-items: flex-start;
    }

    &__btn {
        @extend %btn;
        margin: 2px;
        &:hover {
            box-shadow: 0 0 10px $second-color, 0 0 20px $second-color;
        }
    }

    &__title {
        font-weight: 800;
    }

    &__text {
        margin: 0 10px 0 0;
    }
}
