@mixin theme-inverse {
  .theme-inverse {
    @content;
  }
}

$main-color: #028080;
$bg-color: #343535;
$header-bg-logo-color: #fff;
$header-logo-color: #fff;
$header-logo-hover-color: #000000;
$header-bg-color: #272727;
$header-bg-link-color: #fff;
$header-link-color: #fff;
$header-link-hover-color: #000000;
$transition-duration: 0.5s;

:root {
  --primary-color: blue;
}

@include theme-inverse {
  --primary-color: red;
}
