@mixin theme-inverse {
  .theme-inverse {
    @content;
  }
}

$main-color: #000000;
$second-color: #ecfd4a;
$bg-color: #bdd011;
$light-color: #fff;
// $color-white: rgb(255, 0, 0);

//-----variables----//

$transition-duration: 0.5s;

:root {
  --primary-color: blue;
}

@include theme-inverse {
  --primary-color: red;
}
