@import "variables.scss";

.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &__Content {
    padding: 25px;
    background: $light-color;
    border-radius: 16px;
    width: 100%;
    max-width: 100vh;
  }
}
