.post {
  &__item {
    display: grid;
    width: 100%;
    gap: 20px;
    background: #23242b;
    color: var(--light-color);
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
  }

  &__title {
    font-size: 20px;
    text-align: start;
    font-weight: 800;
  }

  &__text {
    margin-top: 15px;
  }
}
