@import "variables.scss";

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $main-color;

  &__logo {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $second-color, 0 0 0.5em $second-color, 0 0 0.1em $second-color,
      0 10px 3px $main-color;

    //недопустимо по БЭМ, надо исправить на элемент
    .logo span {
      animation: blink linear infinite 4s;
    }
    @keyframes blink {
      20% {
        color: inherit;
        text-shadow: inherit;
      }
      40% {
        color: #333;
      }
      60% {
        text-shadow: none;
      }
      80% {
        color: inherit;
        text-shadow: inherit;
      }
      90% {
        color: #333;
        text-shadow: none;
      }
      100% {
        color: inherit;
        text-shadow: inherit;
      }
    }

    color: $light-color;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
    margin: 0 15px;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  &__link {
    text-align: center;
    text-decoration: none;
    color: $light-color;
    transition: $transition-duration;
    padding: 5px 10px;
    margin: 0 15px;
    text-transform: uppercase;
    border-radius: 15px;

    &:hover {
      background: $light-color;
      color: $main-color;
      box-shadow: 0 0 10px $second-color, 0 0 20px $second-color;
      transition: $transition-duration;
    }
  }

  .header__menu {
    color: $light-color;
    font-size: 40px;
    display: none;
  }
}

@media (max-width: 580px) {
  .header {
    &__list {
      display: none;
    }

    .header__menu {
      display: block;
    }
  }
}
