@import "variables.scss";
@import "./UI/Button/Button.scss";
@import "./UI/Input/Input.scss";

.create-new-post {
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    &__list-inputs {
        margin: 5px 10px 10px 10px;
    }

    &__input {
        @extend %input;
        padding: 15px;
    }

    &__btn {
        @extend %btn;
        margin: 5px 10px;
        padding: 10px 15px;
    }
}
