@import "variables.scss";

//почти весь этот файл ошибка по БЭМ, эти стили отдельных блоков, а не элементов
.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    &__title {
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
    }

    &__list {
        width: 100%;
        box-sizing: border-box;
        margin: 20px;
        border: 3px solid $dark-color;
        border-radius: 10px;
        padding: 15px 20px;
        background: #1a1b22;
    }
}
