@import "variables.scss";

.svg-header {
    //такие отступы это хак, любой хак должен снабжаться комментарием, а ещё лучше сделать у родительского элемента padding-top,
    //потому что ты задал внешний отсуп блоку, что недопустимо в БЭМ
    margin: -5px 0 0 0;
    transform: rotate(180deg); // лучше так не делать, потому что картинка может заранее быть подготовлена, до css трансформаций
    // нет смысла выносить путь в переменную, ты не переиспользуешь это нигде, этот файл фона должен лежать в той же папке что и компонент
    background: url($path-svg) repeat-x top;
    height: 40px;
}
