@import "variables.scss";

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-color;

  &__logo {
    color: $light-color;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    margin: 0 15px;
    border-radius: 10px;
    transition: $transition-duration;
    &:hover {
      background: $light-color;
      color: $dark-color;
    }
  }

  &__list {
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  &__item {
    &:hover {
      .translate__submenu,
      .translate__submenu:hover {
        visibility: visible;
        color: $light-color;
      }
    }
  }

  &__link {
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: $light-color;
    transition: $transition-duration;
    padding: 15px 5px;
    margin: 0 30px;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      background: $light-color;
      color: $dark-color;
    }
  }

  .header__menu {
    color: $light-color;
    font-size: 40px;
    display: none;
  }
}

.translate {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-color;
  position: relative;
  &__submenu {
    background: $dark-color;
    visibility: hidden;
    list-style: none;
    text-align: center;
    padding: 0 15px 20px 15px;
    border-radius: 5px;
    position: absolute;
    margin-top: 55px;
   
  }

  &__item {
    text-transform: uppercase;
    background: $dark-color;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      transition: $transition-duration;
      border-radius: 5px;
      color: $dark-color;
      background: $light-color;
    }
  }


} //исправить
@media (max-width: 861px) {
  .header {
    &__list {
      display: none;
    }

    .header__menu {
      display: block;
    }
  }
}
