@import "variables.scss";
@import "./UI/Button/Button.scss";

.pagination {
    font-size: 21px;
    display: flex;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__btn {
        @extend %btn;
        margin: 5px;

        &:hover {
            box-shadow: 0 0 10px $main-color, 0 0 40px $main-color, 0 0 60px $main-color;
        }
    }
}
