@import "variables.scss";

//почти весь этот файл ошибка по БЭМ, эти стили отдельных блоков, а не элементов
.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    &__title {
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
    }

    &__list {
        width: 100%;
        box-sizing: border-box;
        margin: 20px;
        border: 3px solid $dark-color;
        border-radius: 30px;
        padding: 15px 20px;
        background: #1a1b22;
    }
}

//animation
.post-enter{
    opacity: 0;
}
.post-enter-active{
    opacity: 1;
    transition: all 500ms ease-in;
}
.post-exit{
    opacity: 1;
}
.post-exit-active{
    opacity: 0;
    transition: all 500ms ease-in;
}
