@import "variables.scss";

%input {
  transition: var(--transition-duration);
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    transition: var(--transition-duration);
    background: var(--input-bg);
  }
}
