@import "../UI/Select/Select.scss";

.search {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;

  &__select {
    @extend %select;
  }
}

.input {
  padding: 10px;
}
